@{
    ViewData["title"] = "Erişim Engellendi";
    Layout = "_BlankLayout";
}

<div class="container-xxl container-p-y">
    <div class="misc-wrapper text-center">
        <h1 class="mx-2 mb-2" style="font-size: 6rem; line-height: 1;">403</h1>
        <h4 class="mb-2">Erişim Engellendi ⛔</h4>
        <p class="mb-6 mx-2">Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>
        <a href="/" class="btn btn-primary mb-10">Ana Sayfaya Dön</a>
    </div>
</div>
